body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  background-color: #233142
  ;
  color: #A5C0DD;
}
.main {
  flex: 1;
}
h2 {
  color: #00ADB5;
}
h1 {
  font-size: 5rem;
  text-align: center;
  color: #00ADB5;
}

footer {
  text-align: right;
  color: midnightblue;
}
.tile-image {
  width: 200px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
.card {
  width: 40%;
  padding: 1px;
}
.left {
  float: left;

}
.right {
  float: right;

}
span {
  color: #FFB962;
}
hr {
  border:#00ADB5 1rem;
  border-style: dotted none none none;
  width: 20%;
  margin-top: 50px;
  margin-bottom: 50px;
}
footer p {
  color: #FFB962;
}
@media (max-width:650px) {
  p {
    font-size: 1.5rem;
  }
  .card {
    width: 100%;
  }
  .tile-image {
    display: block;
    margin-left: auto;
    margin-right: auto; 
      width: 50%;
      float: none;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
  }
  .card-text, .right p {
    text-align: center;
  }
  .card-title, .card-text {
    clear: left;
  }
  h1 {
    font-size: 3rem;
  }
}

